{% extends "base/base.html" %}
{% load staticfiles %}

{% block head %}
<head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Singularity">
        <meta name="author" content="Roga">
        <meta name="keywords" content="Singularity">
    
        <!-- Title Page-->
        <title>Nosotros</title>
    
        <!-- Icons font CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
        <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'vendor/themify-font/themify-icons.css' %}" rel="stylesheet" media="all">
        <!-- Base fonts of theme-->
        <link href="{% static 'css/poppins-font.min.css' %}" rel="stylesheet" media="all">
        <!-- Font special for pages-->
    
        <!-- Bootstrap CSS-->
        <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
    
        <!-- Vendor CSS-->
        <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    
        <!-- Main CSS-->
        <link href="{% static 'css/main.min.css' %}" rel="stylesheet" media="all">
    
        <!--Favicons-->
        <link rel="shortcut icon" href="{% static 'images/icon/favicon.png' %}">
        
    </head>
{% endblock %}



{% block content %}
 

 <!-- MAIN-->
 <main id="main">
        <!-- PAGE LINE-->
        <div class="page-line">
            <div class="container">
                <div class="page-line__inner">
                    <div class="page-col"></div>
                    <div class="page-col"></div>
                    <div class="page-col"></div>
                </div>
            </div>
        </div>
        <!-- END PAGE LINE-->

        <!-- PAGE HEADING-->
        <section class="section p-t-100 p-b-65">
            <div class="container">
                <div class="page-heading">
                    <h4 class="title-sub title-sub--c8 m-b-15">we are tatee</h4>
                    <h2 class="title-2">Our bulding are inspired by
                        <br>the challenge of balancing function & beauty .</h2>
                </div>
            </div>
        </section>
        <!-- END PAGE HEADING-->

        <!-- PAGE IMAGE-->
        <section class="section">
            <div class="wrap wrap--w1790">
                <div class="container-fluid">
                    <img src="{% static 'images/page-img-01.jpg' %}" alt="Page Image">
                </div>
            </div>
        </section>
        <!-- END PAGE IMAGE-->

        <!-- ABOUT US-->
        <section class="section p-t-80">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="media-statistic-2">
                                    <div class="media__body">
                                        <span class="media__number js-counterup">18</span>
                                        <h5 class="media__title title-sub">Years of experience</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media-statistic-2">
                                    <div class="media__body">
                                        <span class="media__number js-counterup">126</span>
                                        <h5 class="media__title title-sub">Happy clients</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media-statistic-2">
                                    <div class="media__body">
                                        <span class="media__number js-counterup">224</span>
                                        <h5 class="media__title title-sub">completed projects</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media-statistic-2">
                                    <div class="media__body">
                                        <span class="media__number js-counterup">16</span>
                                        <h5 class="media__title title-sub">design arwards</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="text--s18-40 m-b-15">
                            <strong class="text--c2">Sed ut</strong>

                            perspiciatis unde omnis iste natus error sit voluptatem galax accusantium doloremque laudantium, totam rem aper ein iam sha eaque ipsa quae ab illo inventore veritatis et quasi architecto luniso beatae vitae dicta sunt explicabo.
                        </p>
                        <p class="text--s18-40">
                            <strong class="text--c2">Nemo</strong>

                            enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione vshaun oluptatem sequi nesciunt.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- END ABOUT US-->

        <!-- SERVICE-->
        <section class="p-t-60 p-b-60">
            <div class="container">
                <div class="section-title">
                    <h5 class="title-sub">what we do</h5>
                    <h2 class="title-1">Our specilization</h2>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4">
                        <article class="media media-service">
                            <figure class="media__img">
                                <img src="{% static 'images/icon/service-01.png' %}" alt="architecture" />
                            </figure>
                            <div class="media__title">
                                <h3 class="title">
                                    <a href="about-us.html#">architecture</a>
                                </h3>
                                <span class="number">01</span>
                            </div>
                            <p class="media__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invest ntore veritatis et quasi architecto beatae vitaest dicta sunt explicabo.
                                Nemo enim ipsam vost lmat oluptatem quia voluptas sit aspernatur</p>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <article class="media media-service">
                            <figure class="media__img">
                                <img src="{% static 'images/icon/service-02.png' %}" alt="Interior" />
                            </figure>
                            <div class="media__title">
                                <h3 class="title">
                                    <a href="about-us.html#">Interior</a>
                                </h3>
                                <span class="number">02</span>
                            </div>
                            <p class="media__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invest ntore veritatis et quasi architecto beatae vitaest dicta sunt explicabo.
                                Nemo enim ipsam vost lmat oluptatem quia voluptas sit aspernatur</p>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <article class="media media-service">
                            <figure class="media__img">
                                <img src="{% static 'images/icon/service-03.png' %}" alt="planning" />
                            </figure>
                            <div class="media__title">
                                <h3 class="title">
                                    <a href="about-us.html#">planning</a>
                                </h3>
                                <span class="number">03</span>
                            </div>
                            <p class="media__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invest ntore veritatis et quasi architecto beatae vitaest dicta sunt explicabo.
                                Nemo enim ipsam vost lmat oluptatem quia voluptas sit aspernatur</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SERVICE-->

        <!-- CLIENT-->
        <section class="section bg-pattern-01 p-t-100 p-b-25">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-3">
                        <div class="section-title section-title--light text-left p-t-15">
                            <h5 class="title-sub">awesome partner</h5>
                            <h2 class="title-1">Our Clients</h2>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-9">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <a class="img-client m-b-60" href="about-us.html#">
                                    <img src="{% static 'images/icon/client-09.png' %}" alt="Client 1">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a class="img-client m-b-60" href="about-us.html#">
                                    <img src="{% static 'images/icon/client-10.png' %}" alt="Client 2">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a class="img-client m-b-60" href="about-us.html#">
                                    <img src="{% static 'images/icon/client-11.png' %}" alt="Client 3">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a class="img-client m-b-60" href="about-us.html#">
                                    <img src="{% static 'images/icon/client-12.png' %}" alt="Client 4">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a class="img-client m-b-60" href="about-us.html#">
                                    <img src="{% static 'images/icon/client-13.png' %}" alt="Client 5">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a class="img-client m-b-60" href="about-us.html#">
                                    <img src="{% static 'images/icon/client-14.png' %}" alt="Client 6">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a class="img-client m-b-60" href="about-us.html#">
                                    <img src="{% static 'images/icon/client-15.png' %}" alt="Client 7">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a class="img-client m-b-60" href="about-us.html#">
                                    <img src="{% static 'images/icon/client-16.png' %}" alt="Client 8">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END CLIENT-->

        <!-- TEAM-->
        <section class="p-t-120 p-b-30">
            <div class="container">
                <div class="section-title m-b-70">
                    <h5 class="title-sub">awesome people</h5>
                    <h2 class="title-1">Meet the team</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <article class="media-team">
                            <figure class="media__img-wrap">
                                <ul class="list-social list-social--light">
                                    <li class="list-social__item">
                                        <a class="ic-fb" href="about-us.html#">
                                            <i class="zmdi zmdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-insta" href="about-us.html#">
                                            <i class="zmdi zmdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-twi" href="about-us.html#">
                                            <i class="zmdi zmdi-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-pinterest" href="about-us.html#">
                                            <i class="zmdi zmdi-google"></i>
                                        </a>
                                    </li>
                                </ul>
                                <span class="overlay"></span>
                                <img class="media__img img--rounded" src="{% static 'images/team-01.jpg' %}" alt="Brad Green" />
                            </figure>
                            <div class="media__body">
                                <h4 class="title--sm">
                                    <a href="about-us.html#">Brad Green</a>
                                </h4>
                                <span class="title-sub--sm">CEO - Main Architect</span>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <article class="media-team">
                            <figure class="media__img-wrap">
                                <ul class="list-social list-social--light">
                                    <li class="list-social__item">
                                        <a class="ic-fb" href="about-us.html#">
                                            <i class="zmdi zmdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-insta" href="about-us.html#">
                                            <i class="zmdi zmdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-twi" href="about-us.html#">
                                            <i class="zmdi zmdi-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-pinterest" href="about-us.html#">
                                            <i class="zmdi zmdi-google"></i>
                                        </a>
                                    </li>
                                </ul>
                                <span class="overlay"></span>
                                <img class="media__img img--rounded" src="{% static 'images/team-02.jpg' %}" alt="Sonja Porter" />
                            </figure>
                            <div class="media__body">
                                <h4 class="title--sm">
                                    <a href="about-us.html#">Sonja Porter</a>
                                </h4>
                                <span class="title-sub--sm">Co-manage Associated</span>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <article class="media-team">
                            <figure class="media__img-wrap">
                                <ul class="list-social list-social--light">
                                    <li class="list-social__item">
                                        <a class="ic-fb" href="about-us.html#">
                                            <i class="zmdi zmdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-insta" href="about-us.html#">
                                            <i class="zmdi zmdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-twi" href="about-us.html#">
                                            <i class="zmdi zmdi-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-pinterest" href="about-us.html#">
                                            <i class="zmdi zmdi-google"></i>
                                        </a>
                                    </li>
                                </ul>
                                <span class="overlay"></span>
                                <img class="media__img img--rounded" src="{% static 'images/team-03.jpg' %}" alt="Marion Lawson" />
                            </figure>
                            <div class="media__body">
                                <h4 class="title--sm">
                                    <a href="about-us.html#">Marion Lawson</a>
                                </h4>
                                <span class="title-sub--sm">Interior Desinger</span>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <article class="media-team">
                            <figure class="media__img-wrap">
                                <ul class="list-social list-social--light">
                                    <li class="list-social__item">
                                        <a class="ic-fb" href="about-us.html#">
                                            <i class="zmdi zmdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-insta" href="about-us.html#">
                                            <i class="zmdi zmdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-twi" href="about-us.html#">
                                            <i class="zmdi zmdi-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-pinterest" href="about-us.html#">
                                            <i class="zmdi zmdi-google"></i>
                                        </a>
                                    </li>
                                </ul>
                                <span class="overlay"></span>
                                <img class="media__img img--rounded" src="{% static 'images/team-04.jpg' %}" alt="Tyrone Curtis" />
                            </figure>
                            <div class="media__body">
                                <h4 class="title--sm">
                                    <a href="about-us.html#">Tyrone Curtis</a>
                                </h4>
                                <span class="title-sub--sm">Architect - Designer</span>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <article class="media-team">
                            <figure class="media__img-wrap">
                                <ul class="list-social list-social--light">
                                    <li class="list-social__item">
                                        <a class="ic-fb" href="about-us.html#">
                                            <i class="zmdi zmdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-insta" href="about-us.html#">
                                            <i class="zmdi zmdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-twi" href="about-us.html#">
                                            <i class="zmdi zmdi-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-pinterest" href="about-us.html#">
                                            <i class="zmdi zmdi-google"></i>
                                        </a>
                                    </li>
                                </ul>
                                <span class="overlay"></span>
                                <img class="media__img img--rounded" src="{% static 'images/team-05.jpg' %}" alt="Kim Harrington" />
                            </figure>
                            <div class="media__body">
                                <h4 class="title--sm">
                                    <a href="about-us.html#">Kim Harrington</a>
                                </h4>
                                <span class="title-sub--sm">Architect - Photographer</span>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <article class="media-team">
                            <figure class="media__img-wrap">
                                <ul class="list-social list-social--light">
                                    <li class="list-social__item">
                                        <a class="ic-fb" href="about-us.html#">
                                            <i class="zmdi zmdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-insta" href="about-us.html#">
                                            <i class="zmdi zmdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-twi" href="about-us.html#">
                                            <i class="zmdi zmdi-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-pinterest" href="about-us.html#">
                                            <i class="zmdi zmdi-google"></i>
                                        </a>
                                    </li>
                                </ul>
                                <span class="overlay"></span>
                                <img class="media__img img--rounded" src="{% static 'images/team-06.jpg' %}" alt="Jodi Rivera" />
                            </figure>
                            <div class="media__body">
                                <h4 class="title--sm">
                                    <a href="about-us.html#">Jodi Rivera</a>
                                </h4>
                                <span class="title-sub--sm">Interior Designer</span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- END TEAM-->
    </main>
    <!-- END MAIN-->

    {% endblock %}


{% block script %}

<!-- Jquery JS-->
<script data-cfasync="false" src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap JS-->
<script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
<!-- Vendor JS-->
<script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
<script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendor/wow/wow.min.js' %}"></script>
<script src="{% static 'vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/isotope/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/matchHeight/jquery.matchHeight-min.js' %}"></script>
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'vendor/noUiSlider/nouislider.min.js' %}"></script>

<!-- Main JS-->
<script src="{% static 'js/global.js' %}"></script>

{% endblock %}