<!-- FOOTER-->
{% load staticfiles %}
<footer class="footer bg-parallax">
    <div class="bg-overlay bg-overlay--p85"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-col">
                    <div class="widget m-b-25">
                        <a href="home-main.html#">
                            <img src="{% static 'images/icon/logo-white.png' %}" alt="Tatee" />
                        </a>
                    </div>
                    <div class="widget widget-address">
                        <ul>
                            <li>Address : 991 White St . Dawsonville, GA 30534 , New York</li>
                            <li>Phone number : + (898) 784-7217</li>
                            <li>Email : <a href="https://freebw.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3f6b5e4b5a5a115e4d5c57564b5a5c4b4a4d5a7f58525e5653115c5052">[email&#160;protected]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-col p-l-70 p-md-l-0">
                    <div class="widget widget_pages">
                        <h4 class="widget-title">Link</h4>
                        <ul>
                            <li>
                                <a href="home-main.html#">About us</a>
                            </li>
                            <li>
                                <a href="home-main.html#">Services</a>
                            </li>
                            <li>
                                <a href="home-main.html#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-col p-l-70 p-md-l-0">
                    <h4 class="widget-title">Social</h4>
                    <div class="widget widget_socials">
                        <ul class="list-social list-social-2">
                            <li class="list-social__item">
                                <a class="ic-fb" href="home-main.html#">
                                    <i class="zmdi zmdi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-insta" href="home-main.html#">
                                    <i class="zmdi zmdi-instagram"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-twi" href="home-main.html#">
                                    <i class="zmdi zmdi-twitter"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-pinterest" href="home-main.html#">
                                    <i class="zmdi zmdi-pinterest"></i>
                                </a>
                            </li>
                            <li class="list-social__item">
                                <a class="ic-google" href="home-main.html#">
                                    <i class="zmdi zmdi-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-col">
                    <div class="widget widget_text">
                        <h4 class="widget-title">copyright</h4>
                        <p>© 2019 Singularity . Designed by Roga</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER-->