{% extends "base/base.html" %}
{% load staticfiles %}

{% block head %}
<head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Tatee Theme Templates">
        <meta name="author" content="AuCreative">
        <meta name="keywords" content="Tatee Theme Templates">
    
        <!-- Title Page-->
        <title>Project Detail v3</title>
    
        <!-- Icons font CSS-->
        <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="vendor/themify-font/themify-icons.css" rel="stylesheet" media="all">
        <!-- Base fonts of theme-->
        <link href="css/poppins-font.min.css" rel="stylesheet" media="all">
        <!-- Font special for pages-->
    
        <!-- Bootstrap CSS-->
        <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    
        <!-- Vendor CSS-->
        <link href="vendor/animate.css/animate.min.css" rel="stylesheet" media="all">
        <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="vendor/revolution/css/layers.css" rel="stylesheet" />
        <link href="vendor/revolution/css/navigation.css" rel="stylesheet" />
        <link href="vendor/revolution/css/settings.css" rel="stylesheet" />
    
        <!-- Main CSS-->
        <link href="css/main.min.css" rel="stylesheet" media="all">
    
        <!--Favicons-->
        <link rel="shortcut icon" href="images/icon/favicon.jpg">
        <link rel="apple-touch-icon" href="https://freebw.com/templates/tatee/apple-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://freebw.com/templates/tatee/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://freebw.com/templates/tatee/apple-icon-114x114.png">
    </head>
{% endblock %}



{% block content %}

<!-- MAIN-->
<main id="main">
        <div class="wrap wrap--w1790">
            <div class="container-fluid">
                <article class="project-style-3">
                    <div class="rev_slider_wrapper rev_slider_wrapper--p80">
                        <div class="rev_slider fullwidthabanner js-rev" data-version="5.4.4" style="display:none" data-rev-layout="fullscreen" data-rev-arrows="false" data-rev-bullets="true" data-rev-stylebullet="au-rev-bullet-2" data-rev-voffbullet="40" data-rev-spacebullet="20">
                            <ul>
                                <li class="rev-item rev-item-1" data-transition="crossfade" style="background-color:#000;">
                                    <img class="rev-slidebg" src="images/post-14.jpg" alt="Master Slider 01" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
                                    data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" />
                                </li>
                                <li class="rev-item rev-item-1" data-transition="zoomout" style="background-color:#000;">
                                    <img class="rev-slidebg" src="images/post-15.jpg" alt="Master Slider 01" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
                                    data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" />
                                </li>
                                <li class="rev-item rev-item-1" data-transition="zoomout" style="background-color:#000;">
                                    <img class="rev-slidebg" src="images/post-16.jpg" alt="Master Slider 01" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
                                    data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" />
                                </li>
                                <li class="rev-item rev-item-1" data-transition="zoomout" style="background-color:#000;">
                                    <img class="rev-slidebg" src="images/post-17.jpg" alt="Master Slider 01" data-bgposition="center center" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
                                    data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="entry-summary">
                        <div class="entry-summary__inner">
                            <h2 class="entry-title">Studio BB</h2>
                            <p class="entry-content">
                                Lorem ipsum dolor sit amet, consectetur adipis lot cing elit, sed doeiusmod tempor incididunt utv stit labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                            <div class="entry-meta">
                                <div class="entry-meta__item">
                                    <h4 class="key">DATE:</h4>
                                    <span class="value">May - 21 - 2018</span>
                                </div>
                                <div class="entry-meta__item">
                                    <h4 class="key">status:</h4>
                                    <span class="value">Completed</span>
                                </div>
                                <div class="entry-meta__item">
                                    <h4 class="key">client:</h4>
                                    <span class="value">Domingo Norton</span>
                                </div>
                                <div class="entry-meta__item">
                                    <h4 class="key">location:</h4>
                                    <span class="value">Perth , Australia</span>
                                </div>
                            </div>
                            <div class="entry-share">
                                <span class="key">Share :</span>
                                <ul class="list-social list-social--md">
                                    <li class="list-social__item">
                                        <a class="ic-fb" href="project-detail-3.html#">
                                            <i class="zmdi zmdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-insta" href="project-detail-3.html#">
                                            <i class="zmdi zmdi-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-twi" href="project-detail-3.html#">
                                            <i class="zmdi zmdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-pinterest" href="project-detail-3.html#">
                                            <i class="zmdi zmdi-pinterest"></i>
                                        </a>
                                    </li>
                                    <li class="list-social__item">
                                        <a class="ic-google" href="project-detail-3.html#">
                                            <i class="zmdi zmdi-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <nav class="navigation project-navigation-2">
                            <div class="nav-links">
                                <div class="nav-previous">
                                    <a href="project-detail-3.html#">
                                        <span class="ti-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="all-link-wrap">
                                    <a class="all-link" href="project-detail-3.html#">
                                        <span class="ti-menu"></span>
                                    </a>
                                </div>
                                <div class="nav-next">
                                    <a href="project-detail-3.html#">
                                        <span class="ti-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
    </main>
    <!-- END MAIN-->

    {% endblock %}


{% block script %}

<!-- Jquery JS-->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap JS-->
<script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/animsition/animsition.min.js"></script>
<script src="vendor/slick/slick.min.js"></script>
<script src="vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="vendor/wow/wow.min.js"></script>
<script src="vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<script src="vendor/isotope/imagesloaded.pkgd.min.js"></script>
<script src="vendor/matchHeight/jquery.matchHeight-min.js"></script>
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/sweetalert/sweetalert.min.js"></script>
<script src="vendor/noUiSlider/nouislider.min.js"></script>
<script type="text/javascript" src="vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="vendor/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!--
| (Load Extensions only on Local File Systems !
| The following part can be removed on Server for On Demand Loading)
-->
<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<!-- Config Revolution Slider-->
<script type="text/javascript" src="js/config-revolution.min.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>

{% endblock %}